<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<title>Uudenmaan luontokohteet</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/mainpage">Etusivu</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../destinations">Kaikki kohteet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../profile">Oma profiili</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../logout">Kirjaudu ulos</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-8">
      <h1>Uudenmaan luontokohteet</h1>
      <p>Tervetuloa, {{ session.username }}!</p>
      <p>Tähän kartta<p>
        
    </div>
    <div class="col-4">
      <h2>Suosituimpia kohteita</h2>
      <br>
      <div>
        {% for destination in bestRanked: %}
            <h5><a href="../destination?dest={{destination[0]}}">{{ destination[1] }}, {{ destination[2] }}</a></h5>
            <ul>
                <li>
                  Kohteen arvio - 
                  <img src="/static/star.png" alt="tähtiä:" style="width:20px;height:20px;">
                  {{ destination[3] }}
                </li>
            </ul>
            <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
