<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<title>Uudenmaan luontokohteet</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/mainpage">Etusivu</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../destinations">Kaikki kohteet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../profile">Oma profiili</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../logout">Kirjaudu ulos</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-8">

      <h1>Oma profiili - {{ name }}</h1>
      <br>
      <h4>Tilin tiedot</h4>
      <p><b>Nimi</b>: {{ name }}</p>
      <p><b>Nimimerkki</b>: {{ username }}</p>
      <p><b>Admin</b>: {%if admin %} kyllä {% else %} ei {% endif %}</p>
      <br>
      
      <div>
        {% if admin %}
        <h4>Lisää uusi luontokohde</h4>
        <br>
        <form action="/newdestination" method="POST">
          <div class="form-group col-6">
            <label for="name">Kohteen nimi</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group col-6">
            <label for="town">Kunta</label>
            <input type="text" class="form-control" id="town" name="town">
          </div>
          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Lisää</button>
          </div>
        </form>
        {% if error %}
          <p> {{ error }}</p>
        {% endif %}

        <br>
        <h4>Lisää tietoja luontokohteeseen</h4>
        <br>
        <form action="/newattraction" method="POST">

          <div class="form-group col-6">
            <label for="destination">Kohde</label>
            <select name="destination" class="form-control" id="destination">
              {% for destination in destinations %}
                <option value="{{ destination[0] }}">{{ destination[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col-6">
            <label for="attractionName">Polun/nähtävyyden nimi</label>
            <input type="text" class="form-control" id="attractionName" name="attractionName">
          </div>

          <div class="form-group col-6">
            <label for="info">Lisätietoja</label>
            <input type="text" class="form-control" id="info" name="info">
          </div>

          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Lisää</button>
          </div>
        </form>
        {% if error2 %}
          <p> {{ error2 }}</p>
        {% endif %}

        {% endif %}

      </div>
    </div>

    <div class="col-4">
      <br>
      <h3>Omat arvioni</h3>
      <br>
      <div>
        {% for review in reviews: %}
            <h5><a href="../destination?dest={{review[0]}}">{{ review[1] }}, {{ review[2]}}</a></h5>
            <p>
              {{ review[3] }}
              <img src="/static/star.png" alt="tähtiä:" style="width:20px;height:20px;"> 
              - {{ review[4] }}
            </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
